/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,700&display=swap');

/* start styling */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* start banner section */
.banner-area{
    /* height: 100vh; */
}
.banner{
    display: flex;
    margin: auto;
    width: 80%;
}
.banner-left, .banner-right{
 width: 50%;
}
.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-title{
    font-size: 45px;
    font-weight: bold;
    color: #3A3A3A;
    line-height: 55px;
    margin: 0;
    text-transform: capitalize;
}
.banner-left p{
    width: 600px;
    line-height: 25px;
    color: #3A3A3A;
}
.banner-left button{
    width: 200px;
    height: 45px;
    margin-top: 20px;
    border: none;
    background-color: #E02C6D;
    border-radius: 30px;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}
.banner-left button i{
    margin-left: 8px;
}
.banner-right{
    margin: 50px 0 0 50px;
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
.banner-right img{
    width: 85%;
    margin: 50px;
}


/* start main section */
.collection-area{
    margin: 70px auto;
    width: 80%;
    text-align: center;
}
.collection-area #collection-title{
    font-size: 35px;
    color: #3A3A3A;
}
.collection-box{
    margin: 80px auto;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.collection{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 25px 20px rgb(136 136 146 / 43%);
    width: 450px;
    height: 550px;
    border-radius: 8px;
}
.collection img{
    border-radius: 12px;
    width: 95%;
    margin-top: 15px;
    height: 320px;
}
.collection-info{
    text-align: left;
    margin-left:20px;
}
.collection-info h1{
    font-weight: 600;
    margin-bottom: 8px;
}
.collection-info h4{
    font-weight: 500;
    margin: 0;
}
.collection-info p{
    width: 220px;
    margin: 0;
    color: #787885;
}
.collection-info div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.collection-info i{
    color: orange;
    margin: 2px;
    font-size: 12px;
}
.collection-info div span{
    margin-left: 8px;
}